html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #110032;
  font-family: 'DM Mono', monospace;
 color: var(--text-color);
}
