.button-cta {
  padding: 16px 8px;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color:var(--cta-color);
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  transition: transform .3s ease-in-out, background-color .3s ease-in-out;

      
    
      &:hover {
        background-color: var(--cta-color-hover);
        transform: scale(0.9);
        
      }
    
}